@import "./01-utilities/variables";
@import "./02-base/reset";
@import "./01-utilities/mixins";
@import "./03-layout/header";
@import "./04-other-pages/other_pages";
@import "./05-footer/footer";


/* :::::::::::::  MAIN  :::::::::::::::: */
  main {
     /* min-height: calc(100vh - 600px); */ /* este código es el que posisiona el footer*/
    padding: 0px 100px 0; 
    justify-content: space-between;
    text-align: center;
    
    .first-section-index{
      .esp {
        position: absolute;
        top: 850px;
        bottom: 0;
        width: 350px;
        right: 900px;
      } 
      .container-info {
        display: flex;
        align-items: center;
        .container-txt {
          width: 50%;
          padding-right: 35px;
          padding-top: 20px;
          text-align: center;
          font-size: 10px;

          h1 {
            font-size: 55px;
            line-height: 70px;
            font-weight: 600;
            color: #303030;
            margin-bottom: 25px;
            text-transform: capitalize;
            @media (max-width:992px) {
                font-size: 45px;
            }
            @media (max-width:567px) {
                font-size: 25px;
                white-space: pre-line;
                width: 100%;
                line-height:30px ;
            }
          }

          p {
              font-size: 16px;
              color: #303030;
              margin-bottom: 35px;
          }

          .btn-1{
              @include mixin_btn($primary, 13px 30px);
            
            &:hover {
              background-color: $primary-b;
            }
            
          }

          @media (max-width: 900px) {
            font-size: x-large;
          }
          @media (max-width:567px){
              width: 100%;
              text-align: center;
              padding: 0;
          }
        }
        .container-img {
          width: 50%;
          img {
            width: 100%;
            @media (max-width:992px) {
              width: 400px;
            }
            @media (max-width:768px) {
                width: 90%;
            }
          }
          @media (max-width: 567px) {
            width: 100%;
          }
        }
        @media (max-width: 768px) {
            flex-direction: column;
        }
      }
    }
    .secund-section-index{
      
    }
    .third-section-index{

    }
    .fourth-section-index{
    }
    .fifth-section-index{

    }

    
    @media (max-width:768px) {
      padding: 0px 30px;
    }
}

  /* .........Main: secund-section-index.......... */
  .secund-section-index {
    padding: 100px 0px 10px;
    display: flex;
    justify-content: space-between;
    gap: 45px;
    
    .info-1 {
      width: 250px;
      padding: 20px;
      text-align: center;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      border-radius: 20px;
      }
      img {
        width: 35px;
      }
      h3 {
        font-size: 18px;
        color: #303030;
        margin-bottom: 10px;
      }
      p {
        font-size: 16px;
        color: #303030;
      }
      @media (max-width:1000px) {
        width: 100%;
    }
  }
  
/* .........Main: secund-section-index.......... */
  .nosotros {
    position: relative;
  }
  
  .nosotros-info {
    display: flex;
    align-items: center;
  }
  
  .nosotros-img {
    width: 50%;
  }
  
  .nosotros-img img {
    /* width: 650px; */
    width: 100%;
  }
  

  /* revisar aqui */
  .nosotros-txt {
    width: 50%;
    padding-left: 35px;
    .btn-1 {
      @include mixin_btn($primary, 13px 30px);
      &:hover{
        @include mixin_btn($primary-b, 13px 30px);
      }
    }
  }
  
  .nosotros-txt span {
    font-size: 16px;
    color: #FF9F0D;
    font-weight: 700;
    margin-bottom: 25px;
  }
  
  .nosotros-txt h2 {
    font-size: 45px;
    color: #303030;
    margin-bottom: 30px;
  }
  
  /* buscar aquí */
  .nosotros-txt p {
    font-size: 18px;
    color: #303030;
    margin-bottom: 50px;
  }
  
  /* .........Main: third-section-index............ */
  /* ..................nosotros.................... */
  main .cardsContainer {
    display: grid;
    gap: 5rem;
    row-gap: 20rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr)); /* Esta linea reemplaza algunas medias queries */
    justify-content: center;
    padding-bottom: 100px;
  }
  
  main .nosotros {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  
  main .nosotros .chefs {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10%;
    @media (max-width:620px) {
      flex-direction: column;
      row-gap: 50px;
    }
  }
  
  main .nosotros .chefs div {
    justify-content: center;
    img {
      width: 200px;
      @media (max-width:800px) {
        width: 150px;
      }
    }
    p {
      text-align: center;
      padding-top: 10px
    };
  }
  
/* :::::: fin de la tercera seccion::::. */
  
  @media (max-width: 768px) {
    .secund-section-index {
      padding: 0;
      display: grid;
      justify-content: center;
    }
  }
  @media (max-width: 992px) {
    .nosotros-txt h2 {
      font-size: 45px;
    }
    .nosotros-img img {
      width: 400px;
    }
  }
  @media (max-width: 768px) {
    /*     main {
            padding: 0px 30px;
        } */
    .nosotros-info {
      flex-direction: column;
      /* padding: 30px; */
    }
    .nosotros-img img {
      width: 100%;
    }
  }
  @media (max-width: 567px) {
    .nosotros-txt h2 {
      font-size: 25px;
      white-space: pre-line;
      width: 100%;
    }
    .nosotros-txt {
      width: 100%;
      text-align: center;
      padding: 0;
    }
    .nosotros-img {
      width: 100%;
    }
  }
  /* ....MAIN-CARDS-INDEX.... */
  main .cardFood {
    grid-column: span 2;
    background-color: $white;
    height: 300px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgb(161, 160, 160);
    /* width: 300px; */
  }
  
  /* main .cardFood:hover {
      background-color:$primary;
      color: $white;
      transition: 0.8s;
  } */
  main .cardFood .CardFood__img {
    display: inline-block;
    position: relative;
    top: -80px;
    height: 150px;
    width: 100px;
    background-image: url("../assets/img/plate-1.png");
    background-repeat: no-repeat round;
    background-size: 150px;
  }
  
  main .cardFood div {
    padding: 0 30px;
    position: relative;
    top: -7rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  
  main .cardFood div button {
    color: $white;
    font-weight: bold;
    background-color: $primary;
    border-radius: 5px;
    height: 40px;
    width: 250px;
    border-style: none;
  }
  
  main .cardFood p:nth-child(3) {
    font-size: $xl;
  }
  

  main .cardFood div p button:hover,
  main .cardFood div button:hover {
    font-weight: bold;
    background-color: #EE9003;
  }
  
  /* ::::::::::::::::::::::::::::: */
  /* ::::::::::::DESAYUNOS:::::::: */
  /* ::::::::::::::::::::::::::::: */
  /* ..con boostrap.. */
  .img-area img {
    display: inline-block;
    position: relative;
    bottom: -60px;
    height: 150px;
    width: 150px;
  }
  
  .img-text {
    background-color: $white;
    padding-top: 80px;
    width: 100%;
    height: 300px;
    display: block;
    text-align: center;
    /* padding: 40% 50%; */
    border-radius: 15px;
  }
  
  .img-text h2 {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .img-text p {
    font-size: 14px;
  }
  
  .img-text .price {
    font-size: 30px;
  }
  
  .simple-box {
    position: relative;
    margin-bottom: 30px;
  }
  
  .carousel-indicators {
    left: 0;
    top: auto;
    bottom: -70px;
  }
  
  .col-md-12 .slide .carousel-indicators button {
    background: #ffffff;
    border-radius: 50%;
    /*  width: 5px;
     height: 5px; */
  }
  
  .col-md-12 .slide .carousel-indicators .active {
    background: $primary;
  }
  
  .circle-button {
    background: #FF9F0D;
    border-radius: 50%;
    height: 35px;
    width: 35px;
  }
  
  .carousel-control-prev-icon {
    position: relative;
    top: 8px;
    left: -2px;
  }
  
  .carousel-control-next-icon {
    position: relative;
    top: 8px;
    left: 2px;
  }
  
  .carousel-control-prev {
    left: -25px;
  }
  
  .carousel-control-next {
    right: -25px;
  }
  
  .carousel-control-next,
  .carousel-control-prev {
    height: 600px;
    width: 5%;
  }
  
  @media (max-width: 760px) {
    .carousel-control-next,
    .carousel-control-prev {
      width: 20%;
    }
    .col-md-4:not(:first-child) {
      display: none;
    }
  }
  /* ..sin boostrap.. */

  .container-noboot{
    /* display: grid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
/*   .bg-white {
    border-radius: 20px;
    margin-top:100px;
  } */

  .delivery {
    padding: 100px;
    justify-content: center;
    align-items: center;
    .delivery-img{
      display: flex;
      align-items: center;
      text-align: left;
      gap: 200px;
      width: 100%;
      flex-basis: min-content;
      img {
        height: 300px;
        width: 300px;
        @media (max-width:530px) {
          height: 200px;
          width: 200px;
        }
      }
      
    }
    .delivery-contenido {
      display: flex;
      @media (max-width:500px) {
        width: 100%;
      }
    }
  }
  
/*  .delivery-img,
 .delivery-contenido {
    height: 300px;
    width: 500px;
    display: grid;
    align-items: center;
    text-align: left;
  } */
  
 /*  main .delivery .delivery-img {
    background-image: url("../assets/img/delivery-gratis-desayuno.png");
    background-repeat: no-repeat round;
  } */
  
  .delivery h2 {
    font-size: 32px;
    line-height: 40px;
  }
  
  /* :::section contactenos */
  .contactenos {
    padding-top: 100px 0;
    justify-content: center;
  }
  
  main .contactenos .contactenos-img,
  main .contactenos .contactenos-contenido {
    height: 300px;
    width: 500px;
    display: grid;
    align-items: center;
    text-align: right;
  }
  
  .center-rigth {
    padding-right: 0;
    @media (max-width:1199px) {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    h2 {
      text-align: center;
      padding-bottom: 30px;
    }
    .info-1{
      width: 300px;
      padding: 25px;
      text-align: center;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      border-radius: 20px;
      @media (max-width:1199px) {
        width: 100%;
      }
      @media (max-width:700px) {
        width: 80%;
        align-items: center;
        justify-content: center;
      }
      img {
        width: 35px;
      }
    }
  }
  
.contactenos {
  .contactenos-img {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 200px;
    width: 100%;
    flex-basis: min-content;
    img {
      width: 300px;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
    @media (max-width:550px) {
      width: 200px;
      height: 200px;
    }
    }
  }
}

  
  .delivery h2 {
    font-size: 32px;
    line-height: 40px;
  }
  
  .reco-a {
    background-color: #fff;
    border-radius: 20px;
    margin-top:100px;
      @media (max-width:700px) {
        margin: 100px 50px;
      }
      /* @media (max-width:580px) {
        padding: 100px 100px;
      }
      @media (max-width:460px) {
        padding: 100px 150px;
      }
      @media (max-width:400px) {
        padding: 100px 180px;
      } */
  }

.card-hoy {
  background-color: #fff;
  margin:100px 0px;
  border-radius: 20px;
  padding: 100px;

  .grid-p2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (min-width:700px) {
      flex-direction: row;
    }
    .img-co{
      img {
        width: 300px;
        height: 300px;
        @media (max-width:700px) {
          width: 200px;
          height: 200px;
        }
      }
    }
    .txt-grid-p2 {
      margin: 10%;
    }
  }
  @media (max-width:700px) {
    margin: 100px 0px;
  }
  @media (max-width:580px) {
    margin: 100px 0px;
  }
  @media (max-width:400px) {
    padding: 100px 0;
  }
 /*  @media (max-width:400px) {
      padding: 100px 180px;
  } */
}





  /* :::::::::::::::REGISTRO::::::::::::: */
  #header--registro {
    height: 30px;
  }
  
  .login {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    /* background-color: $secundary-b; */
    background-image: url("../assets/img/fondo-registro-m.jpg");
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    /* width: 300px; */
    @media (min-width:500px) {
      width:300px;
    }
  }
  
  .title__register {
    font-size: $lg;
    margin-bottom: 12px;
    text-align: center;
    color: $white;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .subtitle {
    color: $very-light-pink;
    font-size: $md;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
  }
  
  .label {
    font-size: $sm;
    font-weight: bold;
    margin-bottom: 4px;
    color: $white;
  }
  
  .input {
    background-color: $text-input-field;
    border: none;
    border-radius: 8px;
    height: 50px;
    font-size: $md;
    padding: 6px;
    margin-bottom: 12px;
  }
  
  .primary-button {
    background-color: $primary;
    border-radius: 8px;
    border: none;
    color: #fff;
    width: 100%;
    cursor: pointer;
    font-size: $md;
    font-weight: bold;
    height: 50px;
  }
  
  .primary-button:hover {
    color: #fff;
    background: #FF9F0D;
  }
  
  .login-button {
    margin-top: 14px;
    margin-bottom: 30px;
  }
  
  .form-container .primary-button--Gmail {
    background-color: $secundary-b;
  }

  /* :::::MY ORDER::: */
  .product-detail {
    box-sizing: border-box;
  }
  
  .title-container {
    display: flex;
  }
  
  .title-container img {
    transform: rotate(180deg);
    margin-right: 14px;
  }
  
  .title {
    font-size: $lg;
    font-weight: bold;
  }
  
  .order {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: $text-input-field;
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
  }
  
  .order p:nth-child(1) {
    display: flex;
    flex-direction: column;
  }
  
  .order p span:nth-child(1) {
    font-size: $md;
    font-weight: bold;
  }
  
  .order p:nth-child(2) {
    text-align: end;
    font-weight: bold;
  }
  
  .shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
  }
  
  .shopping-cart figure {
    margin: 0;
  }
  
  .shopping-cart figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  
  .shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
  }
  
  .carousel-item .row .col-md-4 .single-box .img-text a p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .shopping-cart p:nth-child(2) {
    color: $very-light-pink;
  }
  
  .shopping-cart p:nth-child(3) {
    font-size: $md;
    font-weight: bold;
    @media (max-width:380) {
      font-size: $xs;
    }
  }
  
  .img-text .primary-button {
    width: 80%;
  }
  
  @media (max-width: 640px) {
    .product-detail {
      width: 100%;
    }
  }
  /* :::::PROBANDO::::: */
  .main-shopping {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    gap: 16px;
   gap:50px;
    margin: 16px;
    @media (max-width:1500px) {
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      gap: 30px; 
    }
    @media (max-width:400px) {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 30px; 
    }
  }
  
  .grid-row {
    display: grid;
    border-radius: 8px;
  }
  
  .grid-row .content-padding {
    display: flex;
    gap: 30px;
    
    div {
      width: 100%;
      input {
        width: 100%;
      }
    }
    @media (max-width:1062px) {
      flex-direction: column;
    }
  }
  
  .direction .top-30 {
    width: 50%;
  }
  
  .direction .bottom-80 {
    width: 50%;
    border-radius: 30px;
  }
  
  button {
    font-size: 16px;
  }
  
  #map {
    height: 400px;
    width: 100%;
  } 
  
 iframe {
  padding-top: 20px;
  width: 100%;
  height: 380px;
 }


 /* ....section menu-gr........ */
.menu-gr {
  padding-top: 150px;
  display: flex;
  justify-content: center;
  gap: 30px;
  @media (max-width:990px) {
    flex-direction: column;
  }
  .menuItem {
    display: flex;
    justify-content: center;
    min-width: 300px;
    gap: 30px;
    div {
      img {
        border-radius: 50%;
        width: 80px;
        height: 80px;
      }
    }
    .txt_menuItem {
      display: flex;
      flex-direction: column;
      h2 {
        text-align: left;
      }
      p {
        text-align: left;
      }
    }
  }
}