  
  /* ::::::FOOTER:::::::: */
  hr {
    border: 1.5px solid #EEE;
  }
  
  .footer {
    padding: 100px 100px;
    p {
      text-align: center;
      font-size: 12px;
      margin-top: 50px;
    }
    @media (max-width:1082px) {
      padding: 30px;
      position: relative;
    }
  }
  
  .footer__container {
    max-width: 1200px;
    margin: 0 auto;

    .footer-links {
      display: flex;
      justify-content: space-between;

      .link {
        
        h3 {
            font-size: 20px;
            color: #303030;
            margin-bottom: 20px;
            text-align: center;
        }
        ul {
            li {
              font-size: 16px;
              display: block;
              margin-bottom: 10px;
              color: #545454;
                a {
                    color:#000;
                }
            }
        }
        }
      
      .link-redes{
        .socials {
          img{
            margin-right: 15px;
          }
          @media (max-width:1082px) {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      @media (max-width:1082px) {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "redes redes redes" "nosotros guia escuchamos";
      }
      .link-redes {
        @media (max-width:1082px) {
          grid-area: redes;
        }
      }
      .link-nosotros {
        @media (max-width:1082px) {
          grid-area: nosotros;
        }
      }
      .link-guia {
        @media (max-width:1082px) {
          grid-area: guia;
        }
      }
      .link-escuchamos {
        @media (max-width:1082px) {
          grid-area: escuchamos;
        }
      }
      @media (max-width:750px) {
        flex-direction: column;
        align-items: center;
        text-align: center;

        grid-template-columns: auto auto auto auto;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "redes redes redes redes" 
        "nosotros nosotros nosotros nosotros"
        "guia guia guia guia" 
        "escuchamos escuchamos escuchamos escuchamos";
      }
    }
  }
  


