/* RESET */

*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    list-style: none;
}

html{
    font-size: 62.5%;
}

body{
    background-color: var(--fondo);
}

/* img{
    width: 100%;
}
 */
a{
    text-decoration: none;
}


/* VARIABLES */
:root {
    --white:#ffffff;
    --black: #000000;

    --fondo:#f2f2f2f2;/* #edecf1 */
    --color-1:#c7c7c7;
   /*  --primary: #f7f7f7; */
   /*  --secundary: #ACD9B2; */
    --primary: #FFC107;
    --secundary: #8BC34A;
    --secundary-b: #ACD9B2;
    --emphasis:#E91E63;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --xl: 25px;
    --very-light-pink:#c7c7c7;
    --text-input-field: #f7f7f7;
}

h2{
    font-size: var(--lg);
}

p{
    font-size: var(--lg);
}


/*::::::::::::: HEADER::::::::::::: */

h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    background-color: var(--fondo);
}


header{
    height: 100px;
    background: var(--fondo);
    /* background: var(--primary); */
    padding: 0 58px;
  /*   color: var(--white); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: sticky;
    top: 0; */
}

header .logo{
    text-transform: uppercase;
    color:  var(--black);
    font-weight: 200;
    font-size:x-large;
}


.menu  li {
    position: relative;
    float: left;
}

header .menu li a{
    color:var(--black);
    text-transform: uppercase;
    padding: 0 2rem;
    font-size:var(--lg);
    transition: 0.4s;
}

header .menu li:nth-child(5) a div{
    display: inline;
    padding: 0 10px;
    background-image: url("./assets/icons/shopping-cart.svg");
    background-repeat: no-repeat round;
}


header .menu li:nth-child(6) a div {
    display: inline;
    padding: 0 10px;
    background-image: url("./assets/icons/person-circle.svg");
    background-repeat: no-repeat round;
}

.look-menu,
.hide-menu{
    font-size: 3rem;
    display: none;
    transition: 0.4s;
}

header .look-menu{
    order: 1;
}

.menu a:hover,
.look-menu:hover,
.hide-menu:hover{
    color:var(--primary);
}

#check{
    display: none;
}

/* RSPONSIVE MENU*/
@media(max-width:768px) {
    /* HEADER */
    h1 {
        font-size:x-large;
    }

    .look-menu,
    .hide-menu{
        display: block;
    }

    header .menu{
        position: fixed;
        width: 100%;
        height: 108vh;
        background: var(--primary);
        right: -100%;
        top:0;
        text-align: center;
        padding: 8rem 0;
        z-index: 100;
        transition: 0.8s;
    }

    header .menu li {
        width:  100%;
    }


    header .menu li a{
        display: block;
        padding: 2rem;
    }

    header .menu li:hover{
    background: var(--white);
    /* opacity: 0.5; */
    }

    .menu .hide-menu{
        position: absolute;
        top: 4rem;
        right: 4rem;

    }
    #check:checked ~ .menu {
        right: 0;
    }

    header .menu li:nth-child(5) a div,
    header .menu li:nth-child(6) a div{
        display: block;
        padding: 1.5rem;
        background-size: 210%;
        background-position-x:center;
    }
}

/* :::::IMAGENES:::::::: */




/* :::::::::::::::REGISTRO::::::::::::: */

#header--registro {
    height: 30px;
}

.login{
    width: 100%;
    height: 100vh;
    display:grid;
    place-items: center;
    /* background-color: var(--secundary-b); */
    background-image: url("./assets/img/fondo-registro-m.jpg");
    /* background-repeat: no-repeat; */
}

.form-container{
    display:grid;
    grid-template-rows:  auto 1fr auto;
    width: 300px;

}



.title__register{
    font-size:var(--lg);
    margin-bottom : 12px;
    text-align: center;
    color: var(--white);
}

.form{
    display:flex;
    flex-direction: column;

}
.subtitle{
    color: var(--very-light-pink);
    font-size: var(--md);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
}

.label{
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
    color: var(--white);
}

.input{
    background-color: var(--text-input-field);
    border:none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;
}

.primary-button{
    background-color: var(--primary);
    border-radius: 8px;
    border:none;
    color:var(--black) ;
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}

.login-button{
    margin-top:14px;
    margin-bottom: 30px;
}

.form-container .primary-button--Gmail {
    background-color: var(--secundary-b);
}

/* ::::::FOOTER:::::::: */

/* footer{
    padding: 20px;
    background: var(--black);
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
} */


 hr {
    border: 1px solid #EEE
}

.footer {
    padding:  100px 0;
}

.footer__container {
    max-width: 1200px;
    margin: 0 auto;
}



.footer-links {
    display: flex;
    justify-content:  space-between;
}

.footer-links .link h3 {
    font-size:  20px;
    color: #303030;
    margin-bottom:  20px;
    text-align: center;
}

.socials img {
    margin-right:  15px;
}

.link ul li   {
    font-size:  16px;
    display: block;
    margin-bottom:  10px;
    color: #545454;
}

footer p{
    text-align: center;
    font-size: 12px;
    margin-top:  50px;
}

@media (max-width: 991px) {
    .footer {
        padding: 30px;
        position: relative;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .Socials {
        margin-bottom: 25px;
    }
}



/*::::::::::::: GRID LAYAOUT ::::::::::::: */

/* Este grid layaut lo ocmento porque cuando lo ejecuto el 
footer se deforma no obstante  aplico medias queries  flex y grid 
 de manera mas local  que por componente */

/* header { grid-area: header; }
h1 { grid-area: title; }
section { grid-area: main; }
footer { grid-area: footer; }


body {
    height: 100vh;
    display: grid;
    grid-template-columns:auto auto auto ;
    grid-template-rows: 100px 1fr 1fr 300px;

    grid-template-areas:
        'header header header'
        'title title title'
        'main main  main'
        'footer footer footer';

} */

