
.construction {
    margin: 0 20%;
    background-image: url("../../assets/img/SITIO-EN-CONSTRUCCION.jpg");
    height: 500px;
}


.flex-colum{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}


main{
        /*..... nosotros.... */
    .banner {
        position: relative;
        max-width: 100%;
        margin: 0 auto;

        .banner__content {
            position: absolute;
            bottom: 0;
            background: rgb(0, 0,0);
            background: rgba(0, 0, 0, 0.5);
            color: #f1f1f1;
            width: 100%;
            padding: 40px 0;
            h1 {
                justify-content: left;
                padding: 0 50px;
            }
            p {
                justify-content: left;
                text-align: left;
                padding: 0 50px;
            }
        }
        img {
            width: 100%;
        }
    }

        .four_consejos {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 100px 100px;

            grid-template-areas: 
            "item-one item-two"
            "item-three item-four";

            .item-one {
                grid-area: item-one;
            }
            .item-two {
                grid-area: item-two;
            }
            .item-three {
                grid-area: item-three;
            }
            .item-four {
                grid-area: item-four;
            }

        }
}


