
.construction {
    margin: 0 20%;
    background-image: url("../../assets/img/SITIO-EN-CONSTRUCCION.jpg");
    height: 500px;
}


.flex-colum{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}


main{
        /*..... nosotros.... */
    .banner {
        position: relative;
        max-width: 100%;
        margin: 0 auto;

        .banner__content {
            position: absolute;
            bottom: 0;
            background: rgb(0, 0,0);
            background: rgba(0, 0, 0, 0.5);
            color: #f1f1f1;
            width: 100%;
            padding: 40px 0;
            h1 {
                justify-content: left;
                padding: 0 50px;
            }
            p {
                justify-content: left;
                text-align: left;
                padding: 0 50px;
            }
        }
        img {
            width: 100%;
        }
    }

    /* Nosotros fotos */
    .history{
        /* color: $white; */
        background-color:$secundary-b;
        padding: 100px;
        h2 {
            font-size: 30px;
            padding: 10px;
            @media (max-width:500px) {
                padding:  5px;
            }
        }
        p {
            padding: 20px;
            @media (max-width:500px) {
                padding:  5px;
            }
        }
    }
    .row-nosotros {
        background-color: $secundary-b;
        display: flex;
        flex-wrap: wrap;
        padding:  10px;
        justify-content: center;
        .column-nosotros {
            flex: 25%;
            /* max-width: 25%; */
            padding: 0 4px;
            img {
                margin-top: 8px;
                vertical-align: middle;
                width: 100%;
            }
            @media screen and (max-width:800px) {
                flex: 35%;
                max-width: 100%;
            }
            @media screen and (max-width: 600px){
                flex: 100%;
                max-width: 100%;
        }
    }
    
    }

        /* .... fin de nosotros.... */
    .four_consejos {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 100px 100px;

            grid-template-areas: 
            "item-one item-two"
            "item-three item-four";

            .item-one {
                grid-area: item-one;
            }
            .item-two {
                grid-area: item-two;
            }
            .item-three {
                grid-area: item-three;
            }
            .item-four {
                grid-area: item-four;
            }

    }
}


