@import "../01-utilities/variables";

header {
    height: 100px;
    background: $fondo;
    padding: 0 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        text-transform: uppercase;
        color: $primary;
        font-weight: 200;
        font-size: x-large;
    }

    #check {
      display: none;
        &:checked ~ .menu {
          @media (max-width:900px) {
            right: 0;
          }
        }
    }

    .look-menu {
        order: 1;
        font-size: 3rem;
        display: none;
        transition: 0.4s;

        &:hover {
          color: $primary;
        }
        @media (max-width: 900px) {
          display: block;
        } 
    }

    .menu {
      li {
          position: relative;
          float: left;

          a {
              color: $black;
              text-transform: uppercase;
              padding: 0 2rem;
              font-size: $lg;
              transition: 0.4s;

              &:hover {
                color: $primary;
              }

              @media (max-width:900px) {
                display: block;
                padding: 2rem;
              }
            }
          .hide-menu {
            &:hover {
              color: $primary;
            }
          }
          @media (max-width:900px) {
            width: 100%;
            & :hover {
              background: $white;
            }
          }
          
      }
      li:nth-child(5) {
          a {
              div {
                  display: inline;
                  padding: 0 11px;
                  background-image: url("../assets/icons/shopping-cart.svg");
                  background-repeat: no-repeat round;
                  background-size: cover;
            }
            @media (max-width:900px) {
              display: block;
              padding: 1.5rem;
              background-size: 210%;
              background-position-x: center;
            }
          }
      }
      li:nth-child(6) {
          a {
              div {
                  display: inline;
                  padding: 0 11px;
                  background-image: url("../assets/icons/person-circle.svg");
                  background-repeat: no-repeat round;
                  background-size: cover;
                }
          }
          @media (max-width:900px) {
            display: block;
            /* padding: 1.5rem; */
            background-size: 210%;
            background-position-x: center;
          }
      }
      .hide-menu {
        font-size: 3rem;
        display: none;
        transition: 0.4s;
        
        @media (max-width:900px) {
          display: block;
          position: absolute;
          top: 4rem;
          right: 4rem;
          
        }
      }
      
      @media (max-width:900px){
        position: fixed;
        width: 100%;
        height: 108vh;
        background: $primary;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 8rem 0;
        z-index: 100;
        transition: 0.8s;
      }
    }
}