@import "./variables";

@mixin mixin_btn($bg, $pad) {
    display: inline-block;
    background-color: $bg;
    padding: $pad;
    border-radius: 25px;
    color:$white;
    text-transform: capitalize;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    font-size: large;
}